body {
    background-color: #fff;
    margin: 0;
    font-family: "HK Grotesk", sans-serif;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    color: #1C4D37;
}

ul {
    list-style-type: none;
    justify-content: flex-end;
}

footer {
    height: 240px;
    color: #ebeae9;
    background-color: #343434;
    font-size: 12px;
    text-align: center;
    padding: 32px 0;
    letter-spacing: 1px;
}

footer a {
    color: #ebeae9;
    margin: 5px;
}

blockquote {
    position: relative;
    padding: 8px 21px;
    margin: 16px 0;
    text-align: justify;
    font-style: italic;
    font-size: 14px;
}

blockquote::before,
blockquote::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

blockquote::before {
    background-image: url('img/firstquote.svg');
    top: 0;
    left: 0;
}

blockquote::after {
    background-image: url('img/secondquote.svg');
    bottom: 0;
    right: 0;
}

.Header-nav {
    background-image:url('edumus_elements.png');
    background-position: 90% 40%;
    background-repeat: no-repeat;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin: 0 1.2em;
    padding: .618em 0;
    align-items: center;
    text-align: center;
    line-height: 1.6em;
    width: 100%;
    color: #1c4f38;
}

.navbar-light .navbar-nav .nav-link {
    color: #1c4f38;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #1c4f38;
}

.Header-branding-logo {
    max-width: 120px;
    width: 100%;
    margin: 10px 20px;
}

.navbar{
    background-color: #FEE4C0;
    color: #1c4f38;
}

.nav-item {
    padding: 10px 0px 0px 0px;
    color: #1c4f38;
}

.curriculums {
    text-align: center;
    color: #1c4d37;
    font-family: 'Noe Display';
    font-weight: bold;
    font-style: normal;
    font-size: 34px;
    letter-spacing: -.01em;
    line-height: 1.2em;
    margin-block-start: 1.3em;
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

.key-vision-container {
    text-align: center;
    background-color: #FEE4C0;
}

.key-vision{
    max-width: 960px;
}


.logo {
    width: 120px;
}

.main-bg {
    background-color: #fde4be;
}

.btn {
    border-radius: 15px;
}

.btn-primary {
    background-color: #f26e74;
    border: none;
    width: 120px;
    height: 60px;
    text-align: center;
}

.btn-course-filter[aria-expanded="true"] {
/*  background-color: #0b5ed7;
  border-color: #0b5ed7;*/
}

.more {
    text-align: center;
    margin: 40px;
}

.load-more {
    background-color: #F27178;
    color: #fff;
    padding: 10px 40px;
    border-radius: 15px;
}

.footer-font {
    line-height: 48px;
}

.footer-link {
    margin: 24px 0;
}

.course-image {
    max-width: 100%;
    margin-bottom: 16px;
}

p,
h3,
h5,
a,
button {
    font-style: medium;
}

.course-review {
    font-style: italic;
}

.course-author {
    font-size: 17px;
}

.more-line{
    text-align: right;
}

.see-more-link {
  font-style: bold;
  color: #F27178;
  text-decoration: none;
}

.see-more-link::after {
  content: '→';
  margin-left: 0.2em;
  font-size: 0.9em;
}

.see-more-link span {
  text-decoration: underline;
}
.see-more-link:hover {
  color: #d24d54;
}

h3 {
    font-size: 24px;
    font-family: Noe Display;
    font-style: bold;
    color: #1C4D37;
}

h5 {
    color: #1C4D37;
}

.card-body {
  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card {
  border: 1px #FEE4C0 solid;
}

.info {
    text-align: center;
    font-size: 14px;
}

.subject {
  background-color: rgba(28, 77, 55, .15)
}

.course-info {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.subject-style {
  font-weight: bold;
}

.arrow-style {
  text-decoration: none;

}

.more-line{
    text-align: right;
}
